/*Star command blue
css for main portfolio page*/

body {
  background-image: linear-gradient(to right, #efebe9, #bcaaa4);
}

.container-fluid {    
  color: black;
  font-family: 'Domine';
  padding: 0;
}

#eagle {
  border: solid #bcaaa4;
  border-width: 10px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  
}
#peace {
  border: solid #bcaaa4;
  border-width: 10px;
  border-radius: 50%;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.projList {
  background-color: #efebe9;
  border-top-right-radius: 100px;
  margin-bottom: 0;
}


.mainProj {
  background-image: linear-gradient(to right, #efebe9, #bcaaa4);
}

.projButton {
  font-size: 18px;
}

.codeButton {
}

.projHeader {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

.warning {
  color: red;
}

.special {
  background-image: linear-gradient(rgba(0,0,0,0), #efebe9, rgba(0,0,0,0));
}

.special ul {
  margin-top:15px;
  list-style: none;
  padding-left: 10px;
}

.try-light {
  background-color: rgba(255,255,255,.5);
}

h4 {
  margin-left: .25em;
}

.btn-grow:hover {
  transform: scale(1.1);
}
